<nav class="hero">
    <div class="hero__container">
        <ul class="hero__menu-list">
            <li class="hero__menu-item">
                <button class="hero__menu-button" data-page="new">
                    <span class="hero__menu-button-text">New</span>
                </button>
            </li>
            <li class="hero__menu-item">
                <button class="hero__menu-button" data-page="trending">
                    <span class="hero__menu-button-text">Top Trending</span>
                </button>
            </li>
        </ul>
    </div>
</nav>
