<div class="search-field">
    <form action="/content/search" method="GET" class="search-field__form">
        <div class="search-field__input-group">
            <label class="search-field__label">
                <input
                        type="text"
                        name="q"
                        placeholder="Search music, artists..."
                        class="search-field__input"
                        required
                >
            </label>
        </div>
    </form>
</div>
