.footer {
  &__container {
    background-color: $div-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
      transition: transform 0.2s ease;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: $accent-color;
        transition: width 0.3s ease;
      }

      &:hover {
        transform: translateX(5px);
      }

      &:hover::after {
        width: 100%;
      }
    }

    &-logo {
      width: 70px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
      }
    }

    &-text {
      text-decoration: none;
      color: inherit;
      font-size: 32px;
      font-family: $base-font;
      color: $accent-color;
      transition: color 0.2s ease;
    }
  }

  &__app {
    text-align: center;

    &-text {
      font-size: 80px;
      font-family: $logo-font;
      font-weight: bold;
      color: $accent-color;
    }
  }

  &__copyright {
    &-item {
      font-size: 32px;
      font-family: $base-font;
      color: $accent-color;
      text-decoration: none;
      margin: 0;
      text-align: right;
      position: relative;
      cursor: pointer;
      transition: transform 0.2s ease, color 0.2s ease;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -5px;
        right: 0;
        background-color: $accent-color;
        transition: width 0.3s ease;
      }

      &:hover {
        transform: translateX(-5px);
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
