.search-field {
  margin: 20px auto;
  max-width: 680px;
  width: 100%;
  border-radius: 12px;

  &__form {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__input-group {
    display: flex;
    align-items: center;
    background: $div-background;
    border: 2px solid $button-color;
    border-radius: 12px;
    padding: 8px 16px;
    transition: all 0.3s ease;
    width: 100%;
    height: 40px;

    &:focus-within {
      border-color: $accent-color;
      transform: translateY(-2px);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: text;
  }

  &__input {
    border: none;
    background: none;
    outline: none;
    color: $text-color;
    font-family: $base-font;
    font-size: 16px;
    width: 100%;
    height: 100%;

    &::placeholder {
      color: lighten($text-color, 30%);
      font-size: 16px;
    }
  }
}
